{% import 'OroUIBundle::macros.html.twig' as UI %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/oro.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/orodistribution/css/style.css') }}"/>
        <style>
        {{styleContent}}
        </style>
    </head>
    <body>
        <table border="0">
            <thead>
            {% if pdf == '' %}
                <tr><td>
        {{ UI.button({
        'path':  path('shopline_designertemplate_preview', {'id': id, 'pdf':'pdf'}),
        'title': 'shopline.pdfdesigner.action.save_pdf'|trans,
        'label': 'shopline.pdfdesigner.action.save_pdf'|trans,
        'aCss': 'btn-success',
        'iCss': 'icon-share'
        }) }}
{% endif %}
                </td></tr>
                <tr>
                    <td>{{header|raw}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td>{{content|raw}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td>{{footer|raw}}</td>
                </tr>
            </thead>
        </table>
    </body>
</html>